-- Requirements
Setup: The game is played on a 3 * 3 grid. One player uses 'X'
another player uses 'O' and each player takes turns making their moves.

Winner: The game is won by the player placing his or her symbol in a row,
column, or diagonal. The first player to get three symbols in a row wins the game.
When the player reaches this, the game ends immediately.

Draw: If all the grid cells are filled and no player has three symbols in a row,
the game will be a tie or a draw.

Illegal Moves: A player cannot place his or her symbol on a tile occupied by an
opponent's symbol or their own symbol. The move must be made to an empty cell.

Features Required :
- Initialization : Ability to initialize a new game.
- Move Validation : Check if a move is valid
- Board update : Update the board with player's move
- Win condition : Check for win condition
- Draw condition : Check for draw conditon
- Player Switching : Switch between players after each move

Design Patterns :
- Singleton Pattern : To ensure there is only one instance of the game controller.
- Factory Pattern : To create player instances.
- Observer Pattern : To notify players of the game state changes.
- Strategy Pattern : To encapsulate the algorithm for
                      move validation and wind/draw condition checking.